<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ajouter une seance
                        </h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Titre seance </label>
                                        <input type="text" class="form-control"  placeholder="titre" >
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Durée(h)</label>
                                        <input type="text" class="form-control" placeholder="00" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prix pour étudiant(DH)</label>
                                        <input type="text" class="form-control" placeholder="0000" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Choix de local</label>
                                        <select class="form-control" name="localici">
                                            <option value="option1">Local1</option>
                                            <option value="option2">Local2</option>
                                            <option value="option3">Local3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Choix de Date</label>
                                        <select class="form-control" name="dateici">
                                            <option value="option1">Date1</option>
                                            <option value="option2">Date2</option>
                                            <option value="option3">Date3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description about seance" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Publiée</button>

                            <div class="col-md-6">
                                <div class="form-group pull-bottom">
                                    <label>Integrer dans formation</label>
                                    <input type="text" class="form-control" placeholder="nom formation" value="">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-fill pull-bottom">Integrer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
